# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/2.14.1/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/rs/
app/build/intermediates/blame/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.0.0/
app/build/intermediates/exploded-aar/com.android.support/mediarouter-v7/
app/build/intermediates/exploded-aar/com.android.support/palette-v7/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.0.0/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-ads-lite/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-ads/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-analytics-impl/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-analytics/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-appinvite/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-auth-base/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-auth/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-awareness/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-base/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-basement/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-cast-framework/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-cast/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-clearcut/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-drive/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-fitness/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-games/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-gass/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-gcm/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-identity/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-iid/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-instantapps/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-location/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-maps/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-nearby/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-panorama/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-places/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-plus/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-safetynet/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-tagmanager-api/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-tagmanager-v4-impl/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-tagmanager/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-tasks/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-vision/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-wallet/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-wearable/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services/10.0.1/
app/build/intermediates/exploded-aar/com.google.firebase/
app/build/intermediates/incremental/compileDebugAidl/
app/build/intermediates/incremental/mergeDebugResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/
app/build/intermediates/rs/
app/build/outputs/logs/
build/
